#map {
    height: 600px;
    width: 100%;
}

agm-map {
  height: 600px;
}

#btnMeLocaliser {
  background-image: url('/assets/pictogps.png');
background-position:left;
background-repeat:no-repeat;
background-size:16px 16px;

}

#tableHoraires th {
  backgroudn-color:#ccc;
}
#tableHoraires {
  border:1px solid blue;
  width:600px;
}

.agm-map-container-inner {
  height:100%;
}
